#navbar {
    padding: 20px;
    transition: 0.5s;
}

#jumbotron {
   background-color: rgba(255, 255, 255, 0.3);
}

.scrollonTop{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.scrollonBottom{
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 1);
}
