#item {
    height:490px;
    width:100%;
    padding:10px;
    position: relative;
    /* border: 1px solid black; */
}

#item .card{
    height: 100%;
    border: none;
}

#item img{
    height: 300px;
    width: 100%;
}

#item .card-body{
    border: none;
    padding: 10px;
}

#item .card-footer {
    border: none;
    padding: 0;
}


/* #item footer{
    position: absolute;
    width: 100%;
    padding:10px;
    bottom: 5px;
} */