
#card {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
}

#card .row{
  height: 100%;
}

#reserve {
  background-color: rgba(255, 255, 255, 0.3);
}