@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@media only screen and (min-width: 992px) {
    .map-size{
        padding-left: 3rem!important;
        padding-bottom: 3rem!important;
	}
}

@media only screen and (max-width: 991px) {
    .map-size{
		height: 300px;
        width: auto;
	}
}



